.list {
  width: 100%;
  overflow: auto;
  background-color: #f3f3f3;
}

.list .rules {
  background: url('../images/bg2.png') no-repeat;
  background-color: #fff;
  background-size: 100%;
  background-position: left bottom;
  overflow: hidden;
  padding-bottom: .8rem;
}

.list .rule-item {
  margin-bottom: .266667rem;
  color: #555555;
}

.product {
  margin-top: .266667rem;
  background: #fff;
  padding-bottom: .8rem;
}

.product-item {
  display: flex;
  align-items: center;
  /* height: 3.733333rem; */
  padding: .533333rem 0;
  width: 9.2rem;
  margin: 0 auto;
  border-bottom: 1px solid #eeeeee;
}

.product-item .thumb {
  width: 2.933333rem;
  height: 2.933333rem;
  margin-right: .4rem;
}

.product-item .intro .product-name {
  font-size: .4rem;
  color: #414141;
  margin-bottom: .133333rem;
}

.product-item .intro .customer-name {
  font-size: .373333rem;
  color: #555555;
  margin-bottom: .266667rem;
}

.product-item .intro .coin {
  font-size: .346667rem;
  color: #ff0058;
}

.product-module {
  display: none; 
  position: fixed;
  background: rgba(0, 0, 0, .6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.product-module>div {
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  padding: .4rem;
  margin-top: 2.666667rem;
}

.product-module img {
  max-width: 100%;
  width: 100%;
}

.product-module p {
  font-size: .4rem;
  margin-top: .266667rem;
}


.rules-row .rules {
  padding-bottom: .666667rem;
  border-bottom: 1px solid #eeeeee;
}

.rules-row .rules h2 {
  margin-bottom: .533333rem;
}

.rules-row .rules .rule-item {
  margin-bottom: .133333rem;
  color: #565656;
}


