.home {
  overflow: hidden;
  background-color: #f3f3f3;
}

.header {
  background-color: #f3f3f3;
}

.ad {
  width: 100%;
  height: 6.666667rem;
}

.ad img {
  width: 100%;
  height: 100%;
}

.rules-row {
  width: 100%;
  /* height: 18.613333rem; */
  background: url('../images/bg.png') no-repeat;
  background-size: 100% 100%;
  margin-top: .266667rem;
  background-color: #fff;
  overflow: auto;
}

.box {
  height: 2.666667rem;
  width: 100%;
  border-bottom: 1px solid #eeeeee;
  margin-left: .4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box .left {
  display: inline-flex;
  align-items: center;
}

.left .avatar {
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  border: .066667rem solid #f4dae3;
}

.left .name {
  font-size: .453333rem;
  font-weight: bold;
  margin-left: .24rem;
}

.right {
  height: 1.066667rem;
  width: 4.533333rem;
  background-color: #ff0058;
  color: #fff;
  display: inline-flex;
  align-items: center;
  border-radius: .933333rem;
}

.right .icon-coin {
  height: .666667rem;
  width: .666667rem;
  margin-left: .466667rem;
  margin-right: .133333rem;
}

.right span {
  font-size: .373333rem;
}

.right span.coin-num {
  margin-left: .133333rem;
}

.container {
  background: #fff;
  width: 100%;
  overflow: auto;
  margin-top: .266667rem;
  padding-bottom: .533333rem;
}

.container .title {
  font-size: .4rem;
  color: #383838;
  margin: .586667rem .4rem;
  margin-right: 0;
}

.customer-list {
  padding: 0 .266667rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.customer-list .customer-item {
  width: 4.533333rem;
  /* height: 7.52rem; */
  padding-bottom: .533333rem;
  border-radius: .133333rem;
  background-color: #ffe5ee;
  margin-bottom: .4rem;
  box-shadow: 5px 5px 5px #e6e8eb;
}

.customer-item .logo {
  width: 4.533333rem;
  height: 4.533333rem;
}

.customer-item .name {
  font-size: .4rem;
  color: #383838;
  text-align: center;
  height: .6rem;
  margin-top: .533333rem;
  margin-bottom: .4rem;
}

.customer-item .btn {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .4rem;
}

.customer-item .btn:active, .customer-item .btn:visited {
  /* background-color: # */
}

.btn .icon-coin-mini {
  margin-right: .08rem;
}

.share {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
  z-index: 100;
}

.share .bg {
  width: 100%;
  height: 100%;
  background: url('../images/share.png') no-repeat;
  background-size: 100% auto;
  background-position: right top;
  overflow: hidden;
}

.share .btn {
  width: 4rem;
  font-size: .4rem;
  margin: 0 auto;
  margin-top: 3.2rem;
}

.get {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .6);
  z-index: 10;
  overflow: hidden;
}

.get .text {
  color: #fff;
  font-size: .586667rem;
  text-align: center;
  margin-top: 5.333333rem;
  font-weight: bold;
}

.get .star {
  width: 100%;
  height: 4.133333rem;
  background: url('../images/star.png') no-repeat;
  background-size: 4.266667rem;
  background-position: center;
  margin-top: .4rem;
  overflow: hidden;
}

.get .coin-max {
  display: block;
  width: 2.213333rem;
  height: 2.213333rem;
  margin: 0 auto;
  margin-top: .973333rem;
  animation: rotate .8s;
}

@keyframes rotate
{
  0% {
    transform: rotateY(0)
  }
  50% {
    transform: rotateY(180deg)
  }
  100% {
    transform: rotateY(360deg)
  }
}

.music {
  width: 0;
  height: 0;
}

.btn-get.geted {
  background-color: #bfbfbf;
}

.btn-get.geted .icon-coin-mini {
  background-color: #bfbfbf;
  background-image: url('../images/icon-get.png');
}

.rules-row .product {
  overflow: hidden;
  background: transparent;
}

.product h2 {
  font-size: .4rem;
  color: #383838;
  margin-left: .4rem;
  margin-top: 10px;
}

.product .btn-more {
  width: 4.8rem;
  height: 1.066667rem;
  line-height: 1.066667rem;
  font-size: .4rem;
  color: #ff0058;
  background-color: transparent;
  border: 1px solid #f7aac4;
  border-radius: .133333rem;
  margin: .986667rem  auto 0 auto;
}

.product .btn-more-no {
  width: 4.8rem;
  height: 1.066667rem;
  line-height: 1.066667rem;
  font-size: .4rem;
  color: #ff0058;
  background-color: transparent;
  border: 1px solid #f7aac4;
  border-radius: .133333rem;
  margin: .986667rem  auto 0 auto;
}

.modules {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .6);
  display: none;
}

.modules form {
  height: 7.733333rem;
  width: 8rem;
  background-color: #fff;
  border-radius: .133333rem;
  margin: 0 auto;
  margin-top: 3.12rem;
  overflow: hidden;
  position: relative;
}

.modules h2 {
  font-size: .453333rem;
  margin-top: .693333rem;
  text-align: center;
  /* margin-bottom: .773333rem; */
}

.modules .tips {
  width: 6.533333rem;
  font-size: .346667rem;
  margin: .4rem auto .3rem;
  color: #383838;
}

.modules input {
  display: block;
  width: 6.533333rem;
  height: 1.173333rem;
  border-radius: .133333rem;
  margin: 0 auto;
  border-style: outset;
  border: 1px solid #d2d2d2;
  margin-bottom: .48rem;
  font-size: .4rem;
  padding-left: .32rem;
  color: #383838;
  box-sizing: border-box;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: #bfbfbf;
}

.modules .btn-sub {
  padding-left: 0;
  background-color: #fe0058;
  color: #fff;
}

.cancel {
  display: block;
  height: .566667rem;
  line-height: .566667rem;
  width: .566667rem;
  position: absolute;
  top: .133333rem;
  right: .133333rem;
  text-align: center;
  font-size: .4rem;
  color: #383838;
  /* border: 1px solid #383838; */
  /* border-radius: 50%; */
}

.title .title-tip {
  font-size: .373333rem;
  color: #999999;
}